.playerHandContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cardContainer {
    flex: 3;
    display: flex;
    align-items: center;    
}

.outerSpace {
    flex: 1;
}

.innerSpace {
    flex: 1;
}

.card {
    height: 150px;
    flex: 4;
    border: 1px solid black;
}